-# マイページ-メール＆パスワード編集画面
= render 'homes/headerMain'
.mainbox
  .mypage
    = render "users/mypage_sidebar"
    .mypage__main
      .mypage__main__top
        .userCreate__userinfo__title
          メール・パスワード変更
        .userCreate__userinfo__body
          = form_for(@user, url: registration_path(resource_name)) do |f|

            .userCreate__userinfo__body__formbox
              .userCreate__userinfo__body__formbox__title
                = f.label :email, "メール"
              .userCreate__userinfo__body__formbox__form
                = f.email_field :email, placeholder: 'PC・携帯どちらでも可'

            .userCreate__userinfo__body__formbox
              .userCreate__userinfo__body__formbox__title
                = f.label :current_password, "現在のパスワード"
              .userCreate__userinfo__body__formbox__form
                = f.password_field :current_password, placeholder: '7文字以上の半角英数字', autocomplete: "off"
              %br
              .userCreate__userinfo__body__formbox__title
                = f.label :password, "新しいパスワード"
              .userCreate__userinfo__body__formbox__form
                = f.password_field :password, placeholder: '7文字以上の半角英数字', autocomplete: "off"

              .userCreate__userinfo__body__formbox__title
                = f.label :password_confirmation, "新しいパスワード再入力"
              .userCreate__userinfo__body__formbox__form
                = f.password_field :password_confirmation, placeholder: '7文字以上の半角英数字', autocomplete: "off"

            .userCreate__userinfo__body__formbox
              .userCreate__userinfo__body__formbox__next--button
                = f.submit "変更する"

= render 'homes/footerMain'