= render "shared/single_header"

.userCreate
  = render "devise/registrations/shipping_header"
  .userCreate__userinfo
    .userCreate__userinfo__title
      送付先情報
    .userCreate__userinfo__body
      = form_for(@shipping_address) do |f|
        = render partial: 'shared/address_form', locals: {f: f}

= render "shared/single_footer"
