.mypage__main
  .mypage__main__top
    .mypage__main__top__title
      #{current_user.nickname}さんのマイページ
    .mypage__main__top__profileBox
      .mypage__main__top__profileBox__profile
        - if @user.profile_image.present?
          .mypage__main__top__profileBox__profile--img
            = image_tag @user.profile_image.url, size: "100x100"
        - else
          .mypage__main__top__profileBox__profile--dummy
            イメージ画像
      .mypage__main__top__profileBox__info
        .mypage__main__top__profileBox__info__top
          .mypage__main__top__profileBox__info__top__rate
            評価：０
          .mypage__main__top__profileBox__info__top__items
            出品数：#{current_user.items.count}
        .mypage__main__top__profileBox__info__profit
          今までの利益：¥0
  .mypage__main__container
    %ul.mypage__main__container__menu
      %li.mypage__main__container__menu__title#favorite.active
        お気に入り
      %li.mypage__main__container__menu__title#buy
        購入商品
      %li.mypage__main__container__menu__title#sale
        出品商品
    %ul.mypage__main__container__itemBox
      %li.mypage__main__container__itemBox__list.show
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
        .mypage__main__container__itemBox__list__item
          favoriteItem
      %li.mypage__main__container__itemBox__list
        - @bought_items.each do |item|
          .mypage__main__container__itemBox__list__item
            = link_to item_path(item.id), method: :get do
              .item-image
                = image_tag item.item_images.first.image_URL.url, width: '178px', class: 'img'
              .item-name
                = item.items_name
              .item-price
                = number_with_delimiter(item.price)
                円（税込み）
      %li.mypage__main__container__itemBox__list
        .mypage__main__container__itemBox__list__item
          saleItem