.mypage__sidebar
  .mypage__sidebar__top
    %ul.mypage__sidebar__top__list
      .mypage__sidebar__top__list__mypage
        = link_to "#" do
          マイページ
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__top__list__rate
        = link_to "#" do
          評価
          = icon('fa', 'chevron-right')
  .mypage__sidebar__item
    %h4.mypage__sidebar__item__title 商品
    %ul.mypage__sidebar__item__list
      %li.mypage__sidebar__item__list__sale
        = link_to "#" do
          出品する
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__item__list__saleItem
        = link_to "#" do
          出品した商品
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__item__list__buyItem
        = link_to "#" do
          購入した商品
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__item__list__favoriteItem
        = link_to "#" do
          お気に入り
          = icon('fa', 'chevron-right')
  .mypage__sidebar__user
    %h4.mypage__sidebar__user__title 設定
    %ul.mypage__sidebar__user__list
      %li.mypage__sidebar__user__list__profile
        = link_to "#" do
          プロフィール
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__user__list__shipping
        = link_to "#" do
          送付先変更
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__user__list__MailPassword
        = link_to "#" do
          メール・パスワード変更
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__user__list__creditcard
        = link_to "#" do
          お支払い方法設定
          = icon('fa', 'chevron-right')
      %li.mypage__sidebar__user__list__logout
        = link_to "#" do
          ログアウト
          = icon('fa', 'chevron-right')