-# マイページ 送付先住所編集画面
= render 'homes/headerMain'

.mainbox
  .mypage
    = render "users/mypage_sidebar"
    .mypage__main
      .mypage__main__top
        .userCreate__userinfo__title
          送付先住所変更
        .userCreate__userinfo__body
          = form_for(@shipping_address, url: update_shipping_address_user_path) do |f|
            = render partial: 'shared/address_form', locals: {f: f}

= render 'homes/footerMain'