.single-footer
  .single-footer__menu
    = link_to "#", class: "single-footer__menu__list" do
      プライバシーポリシー
    = link_to "#", class: "single-footer__menu__list" do
      FURIMA利用規約
    = link_to "#", class: "single-footer__menu__list" do
      特定商取引に関する表記

  .single-footer__logo
    = link_to "#" do
      = image_tag asset_path("material/logo/logo-white.png"), size: "148x40"
  .single-footer__copyright
    ©FURIMA