= render "shared/single_header"

購入内容の確認
%br

= image_tag @item.item_images.first.image_URL.url
= @item.items_name
%br

= "¥#{@item.price} (税込) #{@item.shipping_costs}"
%br

支払い金額
= "¥#{@item.price}"
%br

支払い方法
- if @card_info.present?
  = link_to "変更する", "#"
  %br
  クレジットカード
  %br
  = "**** **** **** #{@card_info.last4}"
  %br
  有効期限
  = "#{@card_info.exp_month.to_s} / #{@card_info.exp_year.to_s.slice(2,3)}"
  %br
  = render "cards/card_logo"
- else
  = link_to "登録してください", card_transaction_path(@item.id)

%br
配送先
= link_to "変更する", address_transaction_path(@item.id)
%br
= "〒#{@address.zipcode[0, 3]}-#{@address.zipcode[3, 4]}"
%br
= "#{@prefecture} #{@address.city} #{@address.street_address} #{@address.building}"
%br
= "#{@address.name_last} #{@address.name_first}"

- if @card_info.present? && @item.history.blank? && current_user.id != @item.user_id
  = link_to "購入する", pay_transaction_path(@item.id), method: :post 
- else 
  購入する

= render "shared/single_footer"