%main.main
  .mainVisual
    .mainVisual-desc
      %h2.mainVisual-desc__headline 人生を変えるフリマアプリ
      .mainVisual-desc__text
        FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
      .mainVisual-desc__btn
        .mainVisual-desc__btn__appleBtn
          = link_to image_tag('material/icon/appStoreLogo.svg', height: '54', width: '180', ),"#",crass:"img"
        .mainVisual-desc__btn__googleBtn
          = link_to image_tag('material/icon/googlePlayLogo.svg', height: '54', width: '180', ),"#",crass:"img"
  
  .reason
    %h2.reason__head FURIMAが選ばれる3つの理由
    %ul.reason-desc
      %li.reason-desc__list
        .reason-desc__image
          %span.number 1
          = image_tag 'material/pict/pict-reason-01.jpg', height: '306', width: '306', class: 'img'
        %h3.reason-desc__headline
          %span.color 3分
          ですぐに出品
        .reason-desc__text スマホで入力するだけで簡単に出品できる！
      %li.reason-desc__list
        .reason-desc__image
          %span.number 2
          = image_tag 'material/pict/pict-reason-02.jpg', height: '306', width: '306', class: 'img'
        %h3.reason-desc__headline
          %span.color シンプル
          で使いやすい
        .reason-desc__text めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reason-desc__list
        .reason-desc__image
          %span.number 3
          = image_tag 'material/pict/pict-reason-03.jpg', height: '306', width: '306', class: 'img'
        %h3.reason-desc__headline
          手数料
          %span.color 業界最安
          
        .reason-desc__text 最大3%でお得に出品&購入！

  .middleBanner
    .middleBanner-desc
      %h2.middleBanner-desc__headline 会員数日本一位
      .middleBanner-desc__text
        FURIMAは、フリマアプリで最も人気。<br>
        出品・購入回数も業界最多です！<br>
        ほしかったあの商品に出会えるかもしれません。<br>
      .middleBanner-desc__btn
        .middleBanner-desc__btn__appleBtn
        = link_to image_tag('material/icon/appStoreLogo.svg', height: '54', width: '180', ),"#",crass:"img"
        .middleBanner-desc__btn__googleBtn
        = link_to image_tag('material/icon/googlePlayLogo.svg', height: '54', width: '180', ),"#",crass:"img"

  .feature
    %h2.feature__head FURIMAの特徴
    %ul.feature-desc
      %li.feature-desc__list
        .feature-desc__image
          = image_tag 'material/icon/icon-01.png', width: '200', class: 'img'
        %h3.feature-desc__headline
          簡単に売り買いできる
        .feature-desc__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.feature-desc__list
        .feature-desc__image
          = image_tag 'material/icon/icon-03.png', width: '200', class: 'img'
        %h3.feature-desc__headline
          売上金は即日振込みに対応
        .feature-desc__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.feature-desc__list
        .feature-desc__image
          = image_tag 'material/icon/icon-04.png', width: '200', class: 'img'
        %h3.feature-desc__headline
          様々な支払いに対応
        .feature-desc__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .container
    %h2.container__head ピックアップカテゴリー
    .containerBox
      .containerBox__headline 新規投稿商品
      .containerBox__lists
        - @item.each do |item|
          .containerBox-list
            -@history.each do |history|
              - if item.id == history.item_id
                .containerBox-list__sold
                  .containerBox-list__sold__inner
                    SOLD
          = link_to item_path(item.id), method: :get do
            .containerBox-list__image
              = image_tag item.item_images.first.image_URL.url,width: '220px',  class: 'img'
            .containerBox-list__detail
              %h3.name
              =item.items_name
              %ul.desc
                %li.price
                  = number_with_delimiter(item.price)
                  円
                %li.like
                  %i.fa.fa-star 0
              %p.tax（税込み）



  .bottomBanner
    .bottomBanner-desc
      %h2.bottomBanner-desc__headline だれでもかんたん、人生を変えるフリマアプリ
      .bottomBanner-desc__text 今すぐ無料ダウンロード！
      .bottomBanner-desc__btn
        .bottomBanner-desc__btn__appleBtn
        = link_to image_tag('material/icon/appStoreLogo.svg', height: '54', width: '180', ),"#",crass:"img"
        .bottomBanner-desc__btn__googleBtn
        = link_to image_tag('material/icon/googlePlayLogo.svg', height: '54', width: '180', ),"#",crass:"img"