.header
  .header__image
    = image_tag 'material/logo/logo.png', size: "185x49"
.userLogin
  .userLogin__userCreate
    .userLogin__userCreate__title
      アカウントをお持ちでない方はこちら
    .userLogin__userCreate__new
      = link_to users_path do
        .userLogin__userCreate__new--button
          新規会員登録
  .userLogin__main
    .userLogin__main__loginbox
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .userLogin__main__loginbox__title
          メールアドレスでログイン
        .userLogin__main__loginbox__form
          = f.email_field :email, placeholder: 'メールアドレス',  autofocus: true
        .userLogin__main__loginbox__form
          = f.password_field :password, placeholder: 'パスワード', pattern: ".{7,}"
        .userLogin__main__loginbox__login--button
          = f.submit "ログイン"
.footer
