-# 出品商品編集画面
.body
  = form_for @item do |f|
    .form
      .form__items__main
        .form__items__main__title
          商品画像
          %span 必須
        .form__items__main__text 
          最大5枚までアップロードできます

        %ul#previews
          = f.fields_for :item_image do |item_image|
            - @item.item_images.each_with_index do |image, i|
              %li.image-preview
                %label.upload-label{style:"display: none;"}
                  .upload-label__text
                    = icon('fa', 'camera')
                    %br
                    クリックして選択
                    .input-area
                      = item_image.file_field :image_URL, value: image.image_URL ,class: "hidden image_upload"
                      = item_image.hidden_field :id, value: image.id, name: "item[item_image][#{i}]"
                .image-preview__wapper
                  = image_tag image.image_URL.to_s, class:"preview"
                .image-preview_btn
                  .image-preview_btn_delete
                    = icon('far', 'times-circle')

      .form__items
        .form__items__name
          .form__items__name--title
            =f.label :name , "商品名"
            %span
              必須
          .form__items__name--column
            = f.text_field :items_name, placeholder: "40文字まで",class: "validate required"
        .form__items__description
          .form__items__description--title
            =f.label :item_description, "商品の説明"
            %span 
              必須
          .form__items__description--column
            = f.text_area :item_description, placeholder: "商品の説明", class: "validate sentence"
      .form__details
        .form__details__category
          .form__details__category--title
            %p.description-name
              商品詳細
            = f.label :category_id, "カテゴリー",class: "list__category"
            %span
              必須
          .form__details__category--column
            = f.collection_select :category_id, @category_parent_array, :id, :name, { selected: @item.category.root.id }, { id: 'list__category__parent' }
          .form__details__category--children
            = f.collection_select :category_id, @category_children_array, :id, :name, { selected: @item.category.parent.id }, { id: 'list__category__children' }
          .form__details__category--grandchildren
            = f.collection_select :category_id, @category_grandchildren_array, :id, :name, { selected: @item.category.id }, { id: 'list__category__grandchildren' }

        .form__details__brand
          .form__details__brand--title
            =f.label :brand_id, "ブランド名" 
            %span
              任意
          .form__details__brand--column
            = f.text_field :brand_id, placeholder: "例）シャネル"
        .form__details__condition
          .form__details__condition--title
            =f.label :condition , "商品の状態"
            %span
              必須
          .form__details__condition--column
            = f.select :condition, [["選択してください",""],["新品・未使用","新品・未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れ無し","目立った傷や汚れ無し"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]],{},{class: "validate condition"}
      .form__ship
        .form__ship__cost
          .form__ship__cost--title
            %p
              配送について
            =f.label :shipping_costs, "配送料の負担" 
            %span
              必須
          .form__ship__cost--column
            = f.select :shipping_costs, [["選択してください",""],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],{},{class: "validate cost"}
        .form__ship__area
          .form__ship__area--title
            =f.label :shipping_area_id, "発送元の地域"
            %span
              必須
          .form__ship__area--column
            = f.collection_select :shipping_area_id, Prefecture.all, :id, :name,{include_blank: "---"},{class:"validate prefecture"}
        .form__ship__days 
          .form__ship__days--title
            =f.label :days_to_ship, "発送までの日数"
            %span
              必須
          .form__ship__days--column
            = f.select :days_to_ship, [["選択してください",""],["1~2日で発送","1~2日で発送"],["3~4日で発送","3~4日で発送"],["5~6日で発送","5~6日で発送"]],{},{class: "validate days"}
      .form__sell
        .form__sell__price 
          .form__sell__price--title 
            %p
              価格 (¥300~9,999,999)
            = f.label :price, "販売価格"
            %span
              必須
          .form__sell__price--column 
            %p.suggest
              *半角数字入力
            %span
              ¥
            = f.number_field :price, placeholder: "0", id: "price__calc"
        .form__sell__calc
          .form__sell__calc--box
            %p
              販売手数料(10%)
          .form__sell__calc--result
            %p.result__fee
        .form__sell__profit
          .form__sell__profit--box
            %p
              販売利益
          .form__sell__profit--result
            %p.result__profit
        =f.submit '更新する', class: 'submit-btn'