- if    @card_info.brand == "Visa"
  = image_tag "material/card_logo/visa.svg",             height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "MasterCard"
  = image_tag "material/card_logo/master-card.svg",      height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "JCB"
  = image_tag "material/card_logo/jcb.svg",              height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "American Express"
  = image_tag "material/card_logo/american_express.svg", height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "Diners Club"
  = image_tag "material/card_logo/dinersclub.svg",       height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "Discover"
  = image_tag "material/card_logo/discover.svg",         height: "20", width: "36", class: "card-logo"
- elsif @card_info.brand == "SAISON CARD"
  = image_tag "material/card_logo/saison-card.svg",      height: "20", width: "36", class: "card-logo"