カード会社
= @card_info.brand
%br
カード番号
= "**** **** **** #{@card_info.last4}"
%br
有効期限
= "#{@card_info.exp_month.to_s} / #{@card_info.exp_year.to_s.slice(2,3)}"
%br
= link_to "削除する", user_card_path(user_id: current_user.id, id: @card.id), method: :delete