= form_with url: "/users/#{current_user.id}/cards", method: :post, id: "charge-form", name: "inputForm", local: true do |f|

  %label カード番号
  = f.text_field :number, {class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"}

  -# エラーメッセージ表示用
  .get-token-error

  != sprintf(f.date_select(:expiration_date, 
                           with_css_classes:'XXXXX', 
                           order: [:month,:year,:day], 
                           use_two_digit_numbers: true, 
                           discard_day: true, 
                           start_year: Time.now.year-2000, 
                           end_year: Time.now.year-2000+10, 
                           date_separator: '%s'),
             '月') + '年'

  = f.text_field :cvc, {class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: 4, id: "cvc"}

  = f.submit "支払い方法の追加", id: "token_submit"